<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="pruebas">
            <!-- <file>test/PlanificacionTest.php</file>
            <file>test/HistoriaTest.php</file>
            <file>test/PagosTest.php</file> -->
            <file>test/CitasTest.php</file> 
        </testsuite>
    </testsuites>
</phpunit>